<div class="modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title">{{ titulo|default:"Categoría" }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form hx-post="{% if categoria %}{% url 'editar_categoria' categoria.pk %}{% else %}{% url 'crear_categoria' %}{% endif %}" 
                  autocomplete="off">
                {% csrf_token %}
                
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label required">Nombre de la Categoría</label>
                        {{ form.nombre }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        {{ form.descripcion }}
                    </div>
                    
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>