{% for cliente in page_obj %}
<tr>
    <td><span class="text-secondary">{{ cliente.codigo|default:"--" }}</span></td>

    <td>
        {% if cliente.estado %}
            <span class="badge bg-success me-1"></span> 
        {% else %}
            <span class="badge bg-danger me-1"></span>
        {% endif %}
        <a href="#" class="text-reset" tabindex="-1">{{ cliente.nombres }}</a>
    </td>

    <td>{{ cliente.documento }}</td>

    <td>{{ cliente.telefono|default:"--" }}</td>

    <td>${{ cliente.limite_credito }}</td>
    <td class="text-end">
        <button class="btn btn-sm btn-outline-primary"
                hx-get="{% url 'editar_cliente' cliente.pk %}"
                hx-target="#modal-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
            Editar
        </button>
    
        <button class="btn btn-sm btn-outline-danger ms-2"
                hx-get="{% url 'eliminar_cliente' cliente.pk %}" 
                hx-target="#modal-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7h16" /><path d="M10 11v6" /><path d="M14 11v6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
            Eliminar
        </button>
    </td>
</tr>

{% empty %}
<tr>
    <td colspan="6" class="text-center py-4">
        <div class="empty">
            <div class="empty-img">
                <img src="https://preview.tabler.io/static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
            </div>
            <p class="empty-title">No hay clientes</p>
            <p class="empty-subtitle text-secondary">
                No se encontraron coincidencias.
            </p>
        </div>
    </td>
</tr>
{% endfor %}