{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Clientes</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <button class="btn btn-primary" 
                  hx-get="{% url 'crear_cliente' %}" 
                  hx-target="#modal-container"
                  hx-swap="innerHTML">
              Nuevo Cliente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex">
          <div class="ms-auto text-secondary">
            Buscar:
            <div class="ms-2 d-inline-block">
              <input type="text" name="q" class="form-control form-control-sm" placeholder="Buscar..."
                hx-get="{% url 'clientes_list' %}"
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#tabla-clientes-body" 
                autocomplete="off" value="{{ search_query }}">
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre / Razón Social</th>
              <th>DUI/NIT</th>
              <th>Teléfono</th>
              <th>Crédito</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody id="tabla-clientes-body">
             {% include 'core/partials/clientes_rows.html' %}
          </tbody>
        </table>
        {% include 'core/partials/paginacion.html' with page_obj=page_obj %}
      </div>
    </div>
  </div>
</div>

<div id="modal"></div>
{% endblock %}